n8n/workflows/01-email-pipeline-main.json
{
  "name": "MailBOX",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "9cb2c0c7-3477-4660-8729-e78b71189c6a",
      "name": "Every 5 Minutes"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "simple": false,
        "filters": {
          "q": "in:inbox"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [220, 0],
      "id": "9024ea76-59b0-4ff6-a4d2-f7340579e1e5",
      "name": "Get many messages",
      "webhookId": "6c8a8428-a2cb-4c88-98d8-df896078f914",
      "credentials": {
        "gmailOAuth2": {
          "id": "vEz5mz0uaAtlK8yz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f472d586-ec54-42b1-8ce4-082c01797418",
              "name": "message_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f977becc-4ffe-4810-8b3b-fd073fa495bb",
              "name": "thread_id",
              "value": "={{ $json.threadId }}",
              "type": "string"
            },
            {
              "id": "b6a9209f-2446-4f5d-81f4-626aff6c1a89",
              "name": "from_addr",
              "value": "={{ $json.from && $json.from.value && $json.from.value[0] ? $json.from.value[0].address : '' }}",
              "type": "string"
            },
            {
              "id": "7540888f-3c61-4214-9ff9-465932a11a45",
              "name": "to_addr",
              "value": "={{ $json.to && $json.to.value && $json.to.value[0] ? $json.to.value[0].address : '' }}",
              "type": "string"
            },
            {
              "id": "876686b7-8b67-497d-8f74-46eafccd534f",
              "name": "subject",
              "value": "={{ $json.subject || '' }}",
              "type": "string"
            },
            {
              "id": "edd0095e-7a03-41f8-bc00-5088d747f0a1",
              "name": "received_at",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "10f256b3-0e87-44a2-a2ec-a45ec2d814fb",
              "name": "snippet",
              "value": "={{ ($json.text || '').substring(0, 200) }}",
              "type": "string"
            },
            {
              "id": "5f661709-b118-4534-a3b6-bfa51df5dba6",
              "name": "body",
              "value": "={{ $json.text || '' }}",
              "type": "string"
            },
            {
              "id": "915491fc-fcf4-4c8b-8e6b-ba81bc2c459c",
              "name": "in_reply_to",
              "value": "={{ $json.inReplyTo }}",
              "type": "string"
            },
            {
              "id": "2bdd03d8-ed5e-4d03-ab64-4c6bdf483cb8",
              "name": "references",
              "value": "={{ $json.references }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 0],
      "id": "cb0c441f-df40-49af-8d26-908f789eb804",
      "name": "Extract Fields"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mailbox",
          "mode": "list",
          "cachedResultName": "mailbox"
        },
        "table": {
          "__rl": true,
          "value": "inbox_messages",
          "mode": "list",
          "cachedResultName": "inbox_messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message_id": "={{ $json.message_id }}",
            "thread_id": "={{ $json.thread_id }}",
            "from_addr": "={{ $json.from_addr }}",
            "to_addr": "={{ $json.to_addr }}",
            "subject": "={{ $json.subject }}",
            "received_at": "={{ $json.received_at }}",
            "snippet": "={{ $json.snippet }}",
            "body": "={{ $json.body }}",
            "in_reply_to": "={{ $json.in_reply_to }}",
            "references": "={{ $json.references }}"
          },
          "matchingColumns": ["message_id"],
          "schema": [
            {"id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "number", "canBeUsedToMatch": true, "removed": true},
            {"id": "message_id", "displayName": "message_id", "required": true, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "thread_id", "displayName": "thread_id", "required": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "from_addr", "displayName": "from_addr", "required": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "to_addr", "displayName": "to_addr", "required": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "subject", "displayName": "subject", "required": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "received_at", "displayName": "received_at", "required": false, "display": true, "type": "dateTime", "canBeUsedToMatch": true},
            {"id": "snippet", "displayName": "snippet", "required": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "body", "displayName": "body", "required": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "in_reply_to", "displayName": "in_reply_to", "required": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "references", "displayName": "references", "required": false, "display": true, "type": "string", "canBeUsedToMatch": true}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [660, 0],
      "id": "b03f0cf8-12fb-4a81-91b2-118fcdf91845",
      "name": "Insert Inbox (skip dupes)",
      "credentials": {
        "postgres": {
          "id": "JFX4tvrffvKnTouV",
          "name": "MailBox Postgres"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MlbxClsfySub0001",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "inbox_message_id": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "inbox_message_id", "displayName": "inbox_message_id", "required": true, "display": true, "type": "number"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [880, 0],
      "id": "exw00000-0000-0000-0000-000000000001",
      "name": "Run Classify Sub"
    }
  ],
  "pinData": {},
  "connections": {
    "Every 5 Minutes": {
      "main": [[{"node": "Get many messages", "type": "main", "index": 0}]]
    },
    "Get many messages": {
      "main": [[{"node": "Extract Fields", "type": "main", "index": 0}]]
    },
    "Extract Fields": {
      "main": [[{"node": "Insert Inbox (skip dupes)", "type": "main", "index": 0}]]
    },
    "Insert Inbox (skip dupes)": {
      "main": [[{"node": "Run Classify Sub", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dee73109-b1a9-4aad-834f-ccc80cee2c32",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5676b8c71ecd9098f2dfabd85d6332f33dbacc7ea107596c9175e3da860403d8"
  },
  "id": "C3kG7uKyRgxXpcJv",
  "tags": []
}
