n8n/workflows/03-classify-email-sub.json
{
  "name": "MailBOX-Classify",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "trg00000-0000-0000-0000-000000000001",
      "name": "When Called by Main"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, message_id, thread_id, from_addr, to_addr, subject, received_at, snippet, body, in_reply_to, \"references\" FROM mailbox.inbox_messages WHERE id = $1 LIMIT 1",
        "options": {
          "queryReplacement": "={{ String($json.id) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [220, 0],
      "id": "pgr00000-0000-0000-0000-000000000002",
      "name": "Load Inbox Row",
      "credentials": {
        "postgres": {
          "id": "JFX4tvrffvKnTouV",
          "name": "MailBox Postgres"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mailbox-dashboard:3001/dashboard/api/internal/classification-prompt",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": {{ JSON.stringify($json.from_addr || '') }},\n  \"subject\": {{ JSON.stringify($json.subject || '') }},\n  \"body\": {{ JSON.stringify($json.body || $json.snippet || '') }}\n}",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [440, 0],
      "id": "htp00000-0000-0000-0000-000000000003",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "merge-inbox-id",
              "name": "inbox_message_id",
              "value": "={{ $('Load Inbox Row').item.json.id }}",
              "type": "number"
            },
            {
              "id": "merge-prompt",
              "name": "prompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            },
            {
              "id": "merge-model",
              "name": "model",
              "value": "={{ $json.model }}",
              "type": "string"
            },
            {
              "id": "merge-started",
              "name": "started_at_ms",
              "value": "={{ $now.toMillis() }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [660, 0],
      "id": "set00000-0000-0000-0000-000000000004",
      "name": "Mark Start"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": {{ JSON.stringify($json.model) }},\n  \"prompt\": {{ JSON.stringify($json.prompt) }},\n  \"stream\": false,\n  \"format\": \"json\",\n  \"options\": { \"temperature\": 0 }\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [880, 0],
      "id": "htp00000-0000-0000-0000-000000000005",
      "name": "Call Ollama"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mailbox-dashboard:3001/dashboard/api/internal/classification-normalize",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"raw\": {{ JSON.stringify($json.response || '') }},\n  \"from\": {{ JSON.stringify($('Load Inbox Row').item.json.from_addr || '') }},\n  \"to\": {{ JSON.stringify($('Load Inbox Row').item.json.to_addr || '') }}\n}",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1100, 0],
      "id": "htp00000-0000-0000-0000-000000000006",
      "name": "Normalize"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-inbox-id",
              "name": "inbox_message_id",
              "value": "={{ $('Mark Start').item.json.inbox_message_id }}",
              "type": "number"
            },
            {
              "id": "log-category",
              "name": "category",
              "value": "={{ $json.category }}",
              "type": "string"
            },
            {
              "id": "log-confidence",
              "name": "confidence",
              "value": "={{ $json.confidence }}",
              "type": "number"
            },
            {
              "id": "log-model",
              "name": "model_version",
              "value": "={{ $('Mark Start').item.json.model }}",
              "type": "string"
            },
            {
              "id": "log-latency",
              "name": "latency_ms",
              "value": "={{ $now.toMillis() - $('Mark Start').item.json.started_at_ms }}",
              "type": "number"
            },
            {
              "id": "log-raw",
              "name": "raw_output",
              "value": "={{ ($json.raw_output || '').slice(0, 8000) }}",
              "type": "string"
            },
            {
              "id": "log-parseok",
              "name": "json_parse_ok",
              "value": "={{ $json.json_parse_ok }}",
              "type": "boolean"
            },
            {
              "id": "log-thinkstrip",
              "name": "think_stripped",
              "value": "={{ $json.think_stripped }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1320, 0],
      "id": "set00000-0000-0000-0000-000000000007",
      "name": "Shape Log Row"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mailbox",
          "mode": "list",
          "cachedResultName": "mailbox"
        },
        "table": {
          "__rl": true,
          "value": "classification_log",
          "mode": "list",
          "cachedResultName": "classification_log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "inbox_message_id": "={{ $json.inbox_message_id }}",
            "category": "={{ $json.category }}",
            "confidence": "={{ Number($json.confidence) }}",
            "model_version": "={{ $json.model_version }}",
            "latency_ms": "={{ Number($json.latency_ms) }}",
            "raw_output": "={{ $json.raw_output }}",
            "json_parse_ok": "={{ $json.json_parse_ok }}",
            "think_stripped": "={{ $json.think_stripped }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "inbox_message_id", "displayName": "inbox_message_id", "required": true, "display": true, "type": "number"},
            {"id": "category", "displayName": "category", "required": true, "display": true, "type": "string"},
            {"id": "confidence", "displayName": "confidence", "required": true, "display": true, "type": "number"},
            {"id": "model_version", "displayName": "model_version", "required": true, "display": true, "type": "string"},
            {"id": "latency_ms", "displayName": "latency_ms", "required": false, "display": true, "type": "number"},
            {"id": "raw_output", "displayName": "raw_output", "required": false, "display": true, "type": "string"},
            {"id": "json_parse_ok", "displayName": "json_parse_ok", "required": true, "display": true, "type": "boolean"},
            {"id": "think_stripped", "displayName": "think_stripped", "required": true, "display": true, "type": "boolean"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1540, 0],
      "id": "pgi00000-0000-0000-0000-000000000008",
      "name": "Insert Classification Log",
      "credentials": {
        "postgres": {
          "id": "JFX4tvrffvKnTouV",
          "name": "MailBox Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "spam-check",
              "leftValue": "={{ $('Shape Log Row').item.json.category }}",
              "rightValue": "spam_marketing",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1760, 0],
      "id": "ifn00000-0000-0000-0000-000000000009",
      "name": "Drop Spam?"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://mailbox-dashboard:3001/dashboard/api/onboarding/live-gate",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1980, -100],
      "id": "htp00000-0000-0000-0000-000000000010",
      "name": "Live Gate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "live-check",
              "leftValue": "={{ $json.live }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2200, -100],
      "id": "ifn00000-0000-0000-0000-000000000011",
      "name": "Onboarding Live?"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mailbox",
          "mode": "list",
          "cachedResultName": "mailbox"
        },
        "table": {
          "__rl": true,
          "value": "drafts",
          "mode": "list",
          "cachedResultName": "drafts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "inbox_message_id": "={{ $('Mark Start').item.json.inbox_message_id }}",
            "draft_body": "",
            "model": "pending",
            "status": "pending",
            "from_addr": "={{ $('Load Inbox Row').item.json.from_addr }}",
            "to_addr": "={{ $('Load Inbox Row').item.json.to_addr }}",
            "subject": "={{ $('Load Inbox Row').item.json.subject }}",
            "body_text": "={{ $('Load Inbox Row').item.json.body }}",
            "received_at": "={{ $('Load Inbox Row').item.json.received_at }}",
            "message_id": "={{ $('Load Inbox Row').item.json.message_id }}",
            "thread_id": "={{ $('Load Inbox Row').item.json.thread_id }}",
            "in_reply_to": "={{ $('Load Inbox Row').item.json.in_reply_to }}",
            "references": "={{ $('Load Inbox Row').item.json[\"references\"] }}",
            "classification_category": "={{ $('Shape Log Row').item.json.category }}",
            "classification_confidence": "={{ Number($('Shape Log Row').item.json.confidence) }}",
            "auto_send_blocked": "={{ $('Shape Log Row').item.json.category === 'escalate' }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "inbox_message_id", "displayName": "inbox_message_id", "required": true, "display": true, "type": "number"},
            {"id": "draft_body", "displayName": "draft_body", "required": true, "display": true, "type": "string"},
            {"id": "model", "displayName": "model", "required": true, "display": true, "type": "string"},
            {"id": "status", "displayName": "status", "required": false, "display": true, "type": "string"},
            {"id": "from_addr", "displayName": "from_addr", "required": false, "display": true, "type": "string"},
            {"id": "to_addr", "displayName": "to_addr", "required": false, "display": true, "type": "string"},
            {"id": "subject", "displayName": "subject", "required": false, "display": true, "type": "string"},
            {"id": "body_text", "displayName": "body_text", "required": false, "display": true, "type": "string"},
            {"id": "received_at", "displayName": "received_at", "required": false, "display": true, "type": "dateTime"},
            {"id": "message_id", "displayName": "message_id", "required": false, "display": true, "type": "string"},
            {"id": "thread_id", "displayName": "thread_id", "required": false, "display": true, "type": "string"},
            {"id": "in_reply_to", "displayName": "in_reply_to", "required": false, "display": true, "type": "string"},
            {"id": "references", "displayName": "references", "required": false, "display": true, "type": "string"},
            {"id": "classification_category", "displayName": "classification_category", "required": false, "display": true, "type": "string"},
            {"id": "classification_confidence", "displayName": "classification_confidence", "required": false, "display": true, "type": "number"},
            {"id": "auto_send_blocked", "displayName": "auto_send_blocked", "required": false, "display": true, "type": "boolean"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2420, -100],
      "id": "pgi00000-0000-0000-0000-000000000012",
      "name": "Insert Draft Stub",
      "credentials": {
        "postgres": {
          "id": "JFX4tvrffvKnTouV",
          "name": "MailBox Postgres"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Called by Main": {
      "main": [[{"node": "Load Inbox Row", "type": "main", "index": 0}]]
    },
    "Load Inbox Row": {
      "main": [[{"node": "Build Prompt", "type": "main", "index": 0}]]
    },
    "Build Prompt": {
      "main": [[{"node": "Mark Start", "type": "main", "index": 0}]]
    },
    "Mark Start": {
      "main": [[{"node": "Call Ollama", "type": "main", "index": 0}]]
    },
    "Call Ollama": {
      "main": [[{"node": "Normalize", "type": "main", "index": 0}]]
    },
    "Normalize": {
      "main": [[{"node": "Shape Log Row", "type": "main", "index": 0}]]
    },
    "Shape Log Row": {
      "main": [[{"node": "Insert Classification Log", "type": "main", "index": 0}]]
    },
    "Insert Classification Log": {
      "main": [[{"node": "Drop Spam?", "type": "main", "index": 0}]]
    },
    "Drop Spam?": {
      "main": [
        [{"node": "Live Gate", "type": "main", "index": 0}],
        []
      ]
    },
    "Live Gate": {
      "main": [[{"node": "Onboarding Live?", "type": "main", "index": 0}]]
    },
    "Onboarding Live?": {
      "main": [
        [{"node": "Insert Draft Stub", "type": "main", "index": 0}],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "MlbxClsfySub0001",
  "tags": []
}
