n8n/workflows/04-draft-sub.json
{
  "name": "MailBOX-Draft",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "trg00000-0000-0000-0000-000000000101",
      "name": "When Called by Classify"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mailbox-dashboard:3001/dashboard/api/internal/draft-prompt",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"draft_id\": {{ Number($json.draft_id) }}\n}",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [220, 0],
      "id": "htp00000-0000-0000-0000-000000000102",
      "name": "Get Prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "draft-id",
              "name": "draft_id",
              "value": "={{ Number($json.draft_id) }}",
              "type": "number"
            },
            {
              "id": "draft-baseurl",
              "name": "baseUrl",
              "value": "={{ $json.baseUrl }}",
              "type": "string"
            },
            {
              "id": "draft-apikey",
              "name": "apiKey",
              "value": "={{ $json.apiKey || '' }}",
              "type": "string"
            },
            {
              "id": "draft-model",
              "name": "model",
              "value": "={{ $json.model }}",
              "type": "string"
            },
            {
              "id": "draft-source",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "draft-display",
              "name": "display_label",
              "value": "={{ $json.display_label }}",
              "type": "string"
            },
            {
              "id": "draft-messages",
              "name": "messages",
              "value": "={{ $json.messages }}",
              "type": "array"
            },
            {
              "id": "draft-maxtokens",
              "name": "max_tokens",
              "value": "={{ Number($json.max_tokens) }}",
              "type": "number"
            },
            {
              "id": "draft-temp",
              "name": "temperature",
              "value": "={{ Number($json.temperature) }}",
              "type": "number"
            },
            {
              "id": "draft-started",
              "name": "started_at_ms",
              "value": "={{ $now.toMillis() }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 0],
      "id": "set00000-0000-0000-0000-000000000103",
      "name": "Mark Start"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Mark Start').item.json.baseUrl }}/api/chat",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Authorization\": {{ JSON.stringify('Bearer ' + ($('Mark Start').item.json.apiKey || 'local')) }}\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": {{ JSON.stringify($('Mark Start').item.json.model) }},\n  \"messages\": {{ JSON.stringify($('Mark Start').item.json.messages) }},\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": {{ Number($('Mark Start').item.json.temperature) }},\n    \"num_predict\": {{ Number($('Mark Start').item.json.max_tokens) }}\n  }\n}",
        "options": {
          "timeout": 90000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [660, 0],
      "id": "htp00000-0000-0000-0000-000000000104",
      "name": "Call LLM"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mailbox-dashboard:3001/dashboard/api/internal/draft-finalize",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"draft_id\": {{ Number($('Mark Start').item.json.draft_id) }},\n  \"body\": {{ JSON.stringify($json.message && $json.message.content ? $json.message.content : '') }},\n  \"source\": {{ JSON.stringify($('Mark Start').item.json.source) }},\n  \"model\": {{ JSON.stringify($('Mark Start').item.json.model) }},\n  \"input_tokens\": {{ Number($json.prompt_eval_count || 0) }},\n  \"output_tokens\": {{ Number($json.eval_count || 0) }}\n}",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [880, 0],
      "id": "htp00000-0000-0000-0000-000000000105",
      "name": "Finalize Draft"
    }
  ],
  "pinData": {},
  "connections": {
    "When Called by Classify": {
      "main": [[{ "node": "Get Prompt", "type": "main", "index": 0 }]]
    },
    "Get Prompt": {
      "main": [[{ "node": "Mark Start", "type": "main", "index": 0 }]]
    },
    "Mark Start": {
      "main": [[{ "node": "Call LLM", "type": "main", "index": 0 }]]
    },
    "Call LLM": {
      "main": [[{ "node": "Finalize Draft", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "MlbxDraftSub0001",
  "tags": []
}
