n8n/workflows/MailBOX.json
{
  "active": true,
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get many messages",
            "type": "main"
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "Insert Inbox (HTTP)",
            "type": "main"
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract Fields",
            "type": "main"
          }
        ]
      ]
    },
    "Insert Inbox (HTTP)": {
      "main": [
        [
          {
            "node": "Only If Newly Inserted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only If Newly Inserted": {
      "main": [
        [
          {
            "node": "Run Classify Sub",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "description": null,
  "id": "C3kG7uKyRgxXpcJv",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "MailBOX",
  "nodes": [
    {
      "id": "9cb2c0c7-3477-4660-8729-e78b71189c6a",
      "name": "Every 5 Minutes",
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "gmailOAuth2": {
          "id": "vEz5mz0uaAtlK8yz",
          "name": "Gmail account"
        }
      },
      "id": "9024ea76-59b0-4ff6-a4d2-f7340579e1e5",
      "name": "Get many messages",
      "parameters": {
        "filters": {
          "q": "in:inbox"
        },
        "limit": 20,
        "operation": "getAll",
        "options": {},
        "simple": false
      },
      "position": [
        220,
        0
      ],
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "webhookId": "6c8a8428-a2cb-4c88-98d8-df896078f914"
    },
    {
      "id": "cb0c441f-df40-49af-8d26-908f789eb804",
      "name": "Extract Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f472d586-ec54-42b1-8ce4-082c01797418",
              "name": "message_id",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "f977becc-4ffe-4810-8b3b-fd073fa495bb",
              "name": "thread_id",
              "type": "string",
              "value": "={{ $json.threadId }}"
            },
            {
              "id": "b6a9209f-2446-4f5d-81f4-626aff6c1a89",
              "name": "from_addr",
              "type": "string",
              "value": "={{ $json.from && $json.from.value && $json.from.value[0] ? $json.from.value[0].address : '' }}"
            },
            {
              "id": "7540888f-3c61-4214-9ff9-465932a11a45",
              "name": "to_addr",
              "type": "string",
              "value": "={{ $json.to && $json.to.value && $json.to.value[0] ? $json.to.value[0].address : '' }}"
            },
            {
              "id": "876686b7-8b67-497d-8f74-46eafccd534f",
              "name": "subject",
              "type": "string",
              "value": "={{ $json.subject || '' }}"
            },
            {
              "id": "edd0095e-7a03-41f8-bc00-5088d747f0a1",
              "name": "received_at",
              "type": "string",
              "value": "={{ $json.date }}"
            },
            {
              "id": "10f256b3-0e87-44a2-a2ec-a45ec2d814fb",
              "name": "snippet",
              "type": "string",
              "value": "={{ ($json.text || '').substring(0, 200) }}"
            },
            {
              "id": "5f661709-b118-4534-a3b6-bfa51df5dba6",
              "name": "body",
              "type": "string",
              "value": "={{ $json.text || '' }}"
            },
            {
              "id": "915491fc-fcf4-4c8b-8e6b-ba81bc2c459c",
              "name": "in_reply_to",
              "type": "string",
              "value": "={{ $json.inReplyTo }}"
            },
            {
              "id": "2bdd03d8-ed5e-4d03-ab64-4c6bdf483cb8",
              "name": "references",
              "type": "string",
              "value": "={{ $json.references }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        440,
        0
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "b03f0cf8-12fb-4a81-91b2-118fcdf91845",
      "name": "Insert Inbox (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        660,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "http://mailbox-dashboard:3001/dashboard/api/internal/inbox-messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message_id\": {{ JSON.stringify($json.message_id || \"\") }},\n  \"thread_id\": {{ JSON.stringify($json.thread_id || \"\") }},\n  \"from_addr\": {{ JSON.stringify($json.from_addr || \"\") }},\n  \"to_addr\": {{ JSON.stringify($json.to_addr || \"\") }},\n  \"subject\": {{ JSON.stringify($json.subject || \"\") }},\n  \"received_at\": {{ JSON.stringify($json.received_at || \"\") }},\n  \"snippet\": {{ JSON.stringify($json.snippet || \"\") }},\n  \"body\": {{ JSON.stringify($json.body || \"\") }},\n  \"in_reply_to\": {{ JSON.stringify($json.in_reply_to || \"\") }},\n  \"references\": {{ JSON.stringify($json.references || \"\") }}\n}",
        "options": {
          "timeout": 5000
        }
      }
    },
    {
      "id": "exw00000-0000-0000-0000-000000000001",
      "name": "Run Classify Sub",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MlbxClsfySub0001"
        }
      },
      "position": [
        880,
        0
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2
    },
    {
      "id": "673d55a9-1a44-4c1d-a2e0-1bca7394988b",
      "name": "Only If Newly Inserted",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        770,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "243a7971-779a-4c76-b3b7-2aaf09735dfe",
              "leftValue": "={{ $json.created }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Every 5 Minute": {
      "recurrenceRules": []
    },
    "node:Every 5 Minutes": {
      "recurrenceRules": []
    },
    "node:Every Minute": {
      "recurrenceRules": []
    }
  },
  "tags": []
}
