dashboard/n8n-workflows/MailBOX-Send.json
{
  "name": "MailBOX-Send",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mailbox-send",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4111-8111-mailbox-send01",
      "name": "Webhook (mailbox-send)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 320],
      "webhookId": "mailbox-send-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  d.id            AS draft_id,\n  d.draft_subject AS draft_subject,\n  d.draft_body    AS draft_body,\n  d.status        AS status,\n  d.inbox_message_id,\n  m.message_id,\n  m.thread_id,\n  m.from_addr,\n  m.to_addr,\n  m.subject       AS original_subject\nFROM mailbox.drafts d\nJOIN mailbox.inbox_messages m ON d.inbox_message_id = m.id\nWHERE d.id = {{ Number($json.body.draft_id) }}\n  AND d.status IN ('approved', 'edited');",
        "options": {}
      },
      "id": "a1b2c3d4-2222-4222-8222-mailbox-send02",
      "name": "Load Draft",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [420, 320],
      "alwaysOutputData": true,
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "draft-id-exists",
              "leftValue": "={{ $json.draft_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-3333-4333-8333-mailbox-send03",
      "name": "If draft loaded",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [640, 320]
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.message_id }}",
        "emailType": "text",
        "message": "={{ $json.draft_body }}",
        "options": {
          "appendAttribution": false,
          "threadId": "={{ $json.thread_id }}"
        }
      },
      "id": "a1b2c3d4-4444-4444-8444-mailbox-send04",
      "name": "Gmail Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [880, 240],
      "onError": "continueErrorOutput",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "mailbox",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "drafts",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Load Draft').item.json.draft_id }}",
            "status": "sent",
            "updated_at": "={{ $now.toISO() }}",
            "error_message": null
          },
          "matchingColumns": ["id"],
          "schema": [
            { "id": "id", "displayName": "id", "required": true, "defaultMatch": true, "display": true, "type": "number", "canBeUsedToMatch": true },
            { "id": "status", "displayName": "status", "required": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "updated_at", "displayName": "updated_at", "required": false, "display": true, "type": "dateTime", "canBeUsedToMatch": false },
            { "id": "error_message", "displayName": "error_message", "required": false, "display": true, "type": "string", "canBeUsedToMatch": false }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-5555-4555-8555-mailbox-send05",
      "name": "Mark Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 200],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "mailbox",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "drafts",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Load Draft').item.json.draft_id }}",
            "status": "failed",
            "updated_at": "={{ $now.toISO() }}",
            "error_message": "={{ $json.error?.message ?? $json.message ?? 'Gmail send failed' }}"
          },
          "matchingColumns": ["id"],
          "schema": [
            { "id": "id", "displayName": "id", "required": true, "defaultMatch": true, "display": true, "type": "number", "canBeUsedToMatch": true },
            { "id": "status", "displayName": "status", "required": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "updated_at", "displayName": "updated_at", "required": false, "display": true, "type": "dateTime", "canBeUsedToMatch": false },
            { "id": "error_message", "displayName": "error_message", "required": false, "display": true, "type": "string", "canBeUsedToMatch": false }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-6666-4666-8666-mailbox-send06",
      "name": "Mark Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 360],
      "credentials": {}
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, draft_id: $('Load Draft').item.json.draft_id, sent_at: $now.toISO() } }}",
        "options": {}
      },
      "id": "a1b2c3d4-7777-4777-8777-mailbox-send07",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1360, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 502,
        "responseBody": "={{ { success: false, draft_id: $('Load Draft').item.json.draft_id, error: $json.error_message ?? 'Gmail send failed' } }}",
        "options": {}
      },
      "id": "a1b2c3d4-8888-4888-8888-mailbox-send08",
      "name": "Respond Failure",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1360, 360]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 404,
        "responseBody": "={{ { success: false, error: 'Draft not found, or not in approved/edited status', draft_id: $('Webhook (mailbox-send)').item.json.body.draft_id } }}",
        "options": {}
      },
      "id": "a1b2c3d4-9999-4999-8999-mailbox-send09",
      "name": "Respond Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 480]
    }
  ],
  "connections": {
    "Webhook (mailbox-send)": {
      "main": [
        [{ "node": "Load Draft", "type": "main", "index": 0 }]
      ]
    },
    "Load Draft": {
      "main": [
        [{ "node": "If draft loaded", "type": "main", "index": 0 }]
      ]
    },
    "If draft loaded": {
      "main": [
        [{ "node": "Gmail Reply", "type": "main", "index": 0 }],
        [{ "node": "Respond Not Found", "type": "main", "index": 0 }]
      ]
    },
    "Gmail Reply": {
      "main": [
        [{ "node": "Mark Sent", "type": "main", "index": 0 }],
        [{ "node": "Mark Failed", "type": "main", "index": 0 }]
      ]
    },
    "Mark Sent": {
      "main": [
        [{ "node": "Respond Success", "type": "main", "index": 0 }]
      ]
    },
    "Mark Failed": {
      "main": [
        [{ "node": "Respond Failure", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "mailbox-send",
  "tags": []
}
